/* 
- Font size (px)
0 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* ###### */
/* HEADER - NAV BAR*/
/* ###### */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4.8rem;
}

.paws-logo {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.paws-logo-img {
  width: 5rem;
  height: 5rem;
}

.paws-logo-text {
  font-size: 2.4rem;
}

.nav-list {
  display: flex;
  gap: 4.8rem;
  align-items: center;
}

.nav-link {
  font-size: 1.8rem;
}

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

/* ###### */
/* SECTION HERO*/
/* ###### */

.section-hero {
  height: 100vh;
  background-image: url(../img/hero-background.jpg);
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-position: center;
  position: relative;
}

.hero-text-box {
  position: absolute;
  width: 60%;
  top: 25%;
  left: 15%;
  transform: translate(-10%, 100%);
}

/* ###### */
/* SECTION FEATURED*/
/* ###### */

.section-featured {
  padding: 6.4rem 0;
}

.heading-featured {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #777;
}

.featured-logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.featured-logo {
  height: 6.4rem;
  /* width: rem; */
  /* filter: brightness(0); */
  /* opacity: 50%; */
}

.featured-logo:nth-child(odd) {
  height: 2.4rem;
}

/* ###### */
/* SECTION HOW*/
/* ###### */

.section-how {
  padding: 9.6rem 0;
  background-color: #ffcdb6;
}

.step-number {
  font-size: 6.2rem;
  font-weight: 600;
  color: #999;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img {
  width: 50%;
}

/* ###### */
/* SECTION SHOWCASE*/
/* ###### */

.section-showcase {
  padding: 9.6rem 0;
}

.section-showcase .heading-secondary {
  text-align: left;
}

.showcase-description {
  font-size: 2rem;
  line-height: 1.8;
}

.showcase {
  gap: 1.6rem;
  margin: 1.6rem;
}

.showcase-item {
  overflow: hidden;
}

.showcase-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.showcase-item img:hover {
  transform: scale(1.1);
}

/* ###### */
/* SECTION CTA*/
/* ###### */

.section-cta {
  padding: 6.4rem 0;
  margin-bottom: 6.4rem;
  position: relative;
}

.cta {
  display: grid;
  grid-template-columns: 3fr 2fr;
  box-shadow: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-image: linear-gradient(to right, #ffcdb6, #ffd7c5);
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem;
  padding-top: 4.8rem;
}

.cta-text {
  font-size: 2.4rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right,
      rgba(255, 207, 184, 0.3),
      rgba(255, 215, 197, 0.3)
    ),
    url(../img/form-img1.jpg);
  background-position: center;
  background-size: cover;
  /* height: 100%; */
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fff5f0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.cta-form input::placeholder {
  color: #aaa;
}

.btn--form {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(255, 245, 240, 0.5);
}

/* ###### */
/* FOOTER*/
/* ###### */

.footer {
  padding: 9.6rem 0;
  border-top: 1px solid #ddd;
}

.container-footer {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
  justify-content: center;
}

.footer .paws-logo-img {
  height: 8rem;
  width: 8rem;
}

.social-links {
  display: flex;
  align-items: center;
}

.social-icon {
  width: 3rem;
  height: 3rem;
  color: #555;
}

.social-icon:link,
.social-icon:visited {
  transition: all 0.5s;
}

.social-icon:hover,
.social-icon:active {
  color: #e6b9a4;
}

.footer-text {
  font-size: 1.4rem;
  line-height: 1.8;
}

.wrong {
  margin-top: 0.8rem;
  font-size: 1.4rem;
}

.none {
  display: none;
}

/* ### POPUP */

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: all 0.5s;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

.popup-content {
  padding: 3.6rem 0 3.6rem 0;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-image: linear-gradient(to right, #ffcdb6, #ffd7c5);
  transform: translate(12.5%, 12.5%);
}

.form-popup .heading-secondary {
  margin-bottom: 2.4rem;
}

.paws-logo-popup {
  height: 8rem;
  width: 8rem;
  margin-bottom: 2.4rem;
}
